body{
    background-color: #777777;
}
div.header{
    margin-left: 200px;
    margin-bottom: 5px;
    width: 860px;
    background-color: #AAAAAA;
    border: double;
    border-color: #888888;
    text-align: center;

}
div.content{
    margin-left: 200px;
    width: 800px;
    border: solid;
    border-color: #888888;
    padding: 30px;
    text-align: center;
    background-color: #AAAAAA;
}
table{
    margin: auto;
    border-spacing: 5px;
    border: solid;
    border-color: #CCCCCC;
    background-color: #DDDDDD;
}
h1{
    text-align: center;
    color: brown;
    text-decoration: underline;
}